In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Osman/Desktop/DOCUMENTS/Projeler/Mobile-ML-Train-App/veriseti.csv')

In [3]:
df.head()
df.shape
df.isna().sum().sum()

31

In [4]:
import pandas as pd

def fill_null_with_most_common(df):
    for col in df.columns:
        most_common_value = df[col].mode()[0]  # En çok tekrar eden değeri bulma
        df[col].fillna(most_common_value, inplace=True)  # Null değerleri en çok tekrar eden değerle doldurma
    return df

df = fill_null_with_most_common(df)

print("Null değerleri doldurulmuş DataFrame:")
print(df)

Null değerleri doldurulmuş DataFrame:
     Unnamed: 0       Category  Age Sex   ALB    ALP    ALT    AST   BIL  \
0             1  0=Blood Donor   32   m  38.5   52.5    7.7   22.1   7.5
1             2  0=Blood Donor   32   m  38.5   70.3   18.0   24.7   3.9
2             3  0=Blood Donor   32   m  46.9   74.7   36.2   52.6   6.1
3             4  0=Blood Donor   32   m  43.2   52.0   30.6   22.6  18.9
4             5  0=Blood Donor   32   m  39.2   74.1   32.6   24.8   9.6
..          ...            ...  ...  ..   ...    ...    ...    ...   ...
610         611    3=Cirrhosis   62   f  32.0  416.6    5.9  110.3  50.0
611         612    3=Cirrhosis   64   f  24.0  102.8    2.9   44.4  20.0
612         613    3=Cirrhosis   64   f  29.0   87.3    3.5   99.0  48.0
613         614    3=Cirrhosis   46   f  33.0   52.5   39.0   62.0  20.0
614         615    3=Cirrhosis   59   f  36.0   52.5  100.0   80.0  12.0

       CHE  CHOL   CREA    GGT  PROT
0     6.93  3.23  106.0   12.1  69.0
1    11.17  4.80   74.0   15.6  76.5
2     8.84  5.20   86.0   33.2  79.3
3     7.33  4.74   80.0   33.8  75.7
4     9.15  4.32   76.0   29.9  68.7
..     ...   ...    ...    ...   ...
610   5.57  6.30   55.7  650.9  68.5
611   1.54  3.02   63.0   35.9  71.3
612   1.66  3.63   66.7   64.2  82.0
613   3.56  4.20   52.0   50.0  71.0
614   9.07  5.30   67.0   34.0  68.0

[615 rows x 14 columns]

C:\Users\Osman\AppData\Local\Temp\ipykernel_9028\781615755.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(most_common_value, inplace=True)  # Null değerleri en çok tekrar eden değerle doldurma
C:\Users\Osman\AppData\Local\Temp\ipykernel_9028\781615755.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(most_common_value, inplace=True)  # Null değerleri en çok tekrar eden değerle doldurma

In [5]:
df.head()

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [6]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

def kategorik_sutunlari_kodla(df):
    label_encoder = LabelEncoder()
    for sutun in df.columns:
        if df[sutun].nunique() < 10:
            df[sutun] = df[sutun].astype('category')
            df[sutun] = label_encoder.fit_transform(df[sutun])
    return df


df = kategorik_sutunlari_kodla(df)

In [24]:
df.head()

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0,32,1,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0,32,1,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0,32,1,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0,32,1,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0,32,1,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [7]:
df['Category'].unique()

array([0, 1, 2, 3, 4])

In [11]:
from sklearn.model_selection import train_test_split

def verisetini_bol(etiket, veri, test_boyutu=0.2, rastgele_durum=None):
    X = veri.drop(columns=[etiket])
    y = veri[etiket]

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_boyutu, random_state=rastgele_durum)

    return X_train, X_test, y_train, y_test

In [12]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

def model_egit(X_train, X_test, y_train, y_test, model_turu):

    if model_turu == 'regresyon':
        model = DecisionTreeRegressor(random_state=42)
        model.fit(X_train, y_train)
        tahminler = model.predict(X_test)
        hata_metriği = mean_squared_error(y_test, tahminler)
        print("Modelin ortalama karesel hatası:", hata_metriği)
        
    elif model_turu == 'sınıflandırma':
        model = DecisionTreeClassifier(random_state=42)
        model.fit(X_train, y_train)
        tahminler = model.predict(X_test)
        dogruluk_skoru = accuracy_score(y_test, tahminler)
        print("Modelin doğruluk skoru:", dogruluk_skoru)
        
    else:
        raise ValueError("Geçersiz model türü. 'regresyon' veya 'sınıflandırma' olmalıdır.")
    
    return model

X_train, X_test, y_train, y_test = verisetini_bol('Category', df)
# model = model_egit(X_train, X_test, y_train, y_test, 'sınıflandırma')

In [14]:
X_train.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE',
       'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

In [39]:
import joblib


model = model_egit(X_train, X_test, y_train, y_test, 'sınıflandırma')


joblib.dump(model, 'model.pkl')

Modelin doğruluk skoru: 0.991869918699187

['model.pkl']